.twiter-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    justify-content: space-between;
}

.twiter-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.twiter-followCard-info{
    display: flex;
    flex-direction: column;
}

.twiter-followCard-infoUserName{
    opacity: .6;
}

.twiter-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.twiter-followCard-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
}

.twiter-followCard-button:hover {
    background-color: #09f;
    
}

.twiter-followCard-button.is-following{
    border: 1px solid red;
   
}

.twiter-followCard-button.is-following:hover{
    background: red;
    
}